<br>
<div class="row">
    <div class="col-2">
        <h5>Usuários</h5>
    </div>
    <div class="col d-flex justify-content-end">
        <form class="d-flex" role="filter">
            <input class="form-control me-2" type="filter" placeholder="Filtrar" [formControl]="filter">
            <button class="btn btn-outline-primary" type="submit">
                <i class="bi bi-search"></i>
            </button>
        </form>
    </div>
</div>
<br>
<table class="table" *ngIf="users$ | async as users; else loadingError">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Gênero</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.status }}</td>
            <td>
                <span class="float-right">
                    <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(user.id)">
                        Atualizar
                    </button>

                    <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(user)">
                        Excluir
                    </button>
                </span>
            </td>
        </tr>
        <!-- <tr *ngFor="let resultado of resultados | async">
            <td>{{ resultado.id }}</td>
            <td>{{ resultado.name }}</td>
            <td>{{ resultado.email }}</td>
            <td>{{ resultado.gender }}</td>
            <td>{{ resultado.status }}</td>
        </tr> -->
    </tbody>
</table>
<div class=" d-flex justify-content-center">
    <span>
        <button class="btn btn-primary mb-1 btn-sm" (click)="onNewUser()">
            Novo Usuário
        </button>

        <button class=" btn btn-secondary mb-1 btn-sm" (click)="onRefresh()">
            Atualizar lista
        </button>
    </span>
</div>

<ng-template #loadingError>
    <div *ngIf="error$ | async; else loadingWithoutError">
        Erro ao carregar usuários. Tente novamente mais tarde.
    </div>
    <ng-template #loadingWithoutError>
        <span>Carregando Usuários...</span>
    </ng-template>
</ng-template>

<ng-template #deleteModal>
    <div class="modal-body text-center">
        <p>Tem certeza que deseja excluir esse usuário?</p>
        <button type="button" class="btn btn-primary" (click)=" onConfirmDelete()">Sim</button>
        <button type="button" class="btn btn-btn-secondary" (click)="onRefuseDelete()">Nao</button>
    </div>
</ng-template>