<br>
<div class="row">
    <div class="col-10">
        <h5>Cadastro</h5>
    </div>
</div>

<form [formGroup]="form">
    <br>
    <div class="form-group" [ngClass]="applyCssError('name')">
        <div class="row1">
            <div class="col">
                <label for="name">Nome*</label>
                <input type="text" class="form-control has-error" id="name" placeholder="Nome" formControlName="name">
            </div>

            <app-field-control-error [showError]="verifyValidTouched('name')" msgError="Nome é obrigatório">
            </app-field-control-error>
            <br>

            <div class="col" [ngClass]="applyCssError('email')">
                <label for="email">Email*</label>
                <input type="email" class="form-control has-error" id="email" placeholder="Email"
                    formControlName="email">
            </div>

            <app-field-control-error [showError]="verifyValidTouched('email')" msgError="Email é obrigatório">
            </app-field-control-error>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col">
                <label for="gender">Gênero*</label>
                <select class="form-select" formControlName="gender">
                    <option *ngFor="let gender of genres" [value]="gender.toLowerCase()">{{ gender }}</option>
                </select>

                <app-field-control-error [showError]="verifyValidTouched('gender')" msgError="Selecione o gênero">
                </app-field-control-error>
            </div>



            <div class="col">
                <label for="status">Status*</label>
                <select class="form-select" formControlName="status">
                    <option *ngFor="let stat of status" [value]="stat.toLowerCase()">{{ stat }}</option>
                </select>

                <app-field-control-error [showError]="verifyValidTouched('status')" msgError="Selecione o status">
                </app-field-control-error>
            </div>
        </div>
        <br>

        <div class="container text-center">
            <div class="row">
                <div class="col my-1">
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid"
                        (click)="onSubmit()">Cadastrar</button>
                </div>
                <div class="col my-1">
                    <button type="submit" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>