<br>
<div class="row">
    <div class="col-10">
        <h5>Login</h5>
    </div>
</div>
<br>
<form [formGroup]="formulario">
    <div class="form-group" [ngClass]="aplicaCssErro('email')">
        <label for="email">Email</label>
        <input [(ngModel)]="usuario.email" type="email" class="form-control has-error" id="email" placeholder="Email"
            formControlName="email">

        <app-campo-control-erro [mostrarErro]="verificaValidTouched('email')" msgErro="Email é obrigatório">
        </app-campo-control-erro>
        <br>
    </div>
    <br>

    <div class="form-group" [ngClass]="aplicaCssErro('senha')">
        <label for="senha">Senha</label>
        <input [(ngModel)]="usuario.senha"  type="password" class="form-control has-error" id="senha" placeholder="Senha"
            formControlName="senha">

        <app-campo-control-erro [mostrarErro]="verificaValidTouched('senha')" msgErro="Senha é obrigatório">
        </app-campo-control-erro>
        <br>
    </div>
    <br>

    <div class="container text-center">
        <div class="row">
            <div class="col my-1">
                <button type="submit" class="btn btn-primary" [disabled]="!formulario.valid"
                    (click)="fazerLogin()">Entrar</button>
            </div>
            <div class="col my-1">
                    <button type="submit" class="btn btn-secondary" (click)="fazerCadastro()">Cadastre-se</button>
            </div>
        </div>
    </div>
</form>